.venv/
venv/
.vscode/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example

_*.txt
*.log
*.zip

outputs/
experiment/outputs/
data-preprocessing/outputs/

打包/

Thumbs.db
.DS_Store